@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --color-primary: #ecf0f3;
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  --color-heading-wv: #1e2125;
  --color-body-white: #3c3e41;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  --main-color: #ff014f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

.custom-container {
  max-width: 117rem;
  padding: 0 3rem;
  margin: 0 auto;
}

/* background */
.custom-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.25)
    ),
    url("/public/images/desktop/image-hero.jpg");
  width: 100%;
}
.custom-bg-card {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
.custom-bg-card:hover {
  background: rgba(255, 255, 255, 0.597);
  cursor: pointer;
  color: #8c8c8c;
  color: #696969;
}
h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif !important;
}

.custom-shadow {
  transition: all 0.3s ease-in-out;
}
.custom-shadow:hover {
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.8);
}

.custom-test {
  fill: #696969 !important;
  stroke: #696969 !important;
}

@media (max-width: 650px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
